.productInfo {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.imgContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 3px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.productImage {
  border: 1px solid black;
  width: 300px;
}

#comments {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.comment {
  width: 70%;
  border: 1px solid black;
  height: 80px;
  padding: 0 0 0 20px;
}

#commentsContainer h3 {
  text-align: center;
}

.commentInfo {
  display: flex;
  gap: 10px;
}

#newComment {
  margin-top: 20px;
  margin-left: 100px;
}

#newComment form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#newComment form button {
  width: 100px;
}

#relatedContainer {
  margin-top: 50px;
}

#relatedProductsContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

#carouselExampleControls {
  width: 300px;
}

.tituloRelated {
  margin-top: 50px;
  margin-left: 100px;
}

#carouselExampleControls button {
  margin-top: 10px;
}

.relatedName {
  background-color: rgba(1, 1, 1, 0.547);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: black;
}

.agregaAlCarrito {
  background-color: green;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 15px;
}

.agregaAlCarrito:hover {
  background-color: greenyellow;
}

.agregadoAlCarrito {
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  border-radius: 5px;
  margin-top: 5px;
  background-color: green;
  color: white;
}

.sacarAgregadoAlCarrito {
  display: none;
}
