* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

.title {
  margin-top: 50px;
}

.items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.item:hover {
  cursor: pointer;
  background-color: gray;
}

.items-container p {
  margin-bottom: 30px;
}

img {
  width: 200px;
}

.item {
  display: flex;
  flex-direction: row;
  border: 2px solid rgba(128, 128, 128, 0.388);
  width: 75%;
  text-decoration: none;
  color: black;
}

.item-info {
  width: 100%;
}

.item-info p {
  text-align: left;
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.416);
}

.item-info-primerRenglon {
  margin: 10px 10px 0 20px;
  display: flex;
  justify-content: space-between;
}

.item-info-primerRenglon p {
  color: rgba(0, 0, 0, 0.416);
}
